.Active {
    max-width: 1600px;
    margin: .5rem;
}
.Active .con {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    padding: .5rem;
}
.Active .con header {
    justify-content: space-between;
    background: var(--middle2);
    padding: .5rem;
}
.Active .con header h2 {
    color: var(--white4);
}
.Active .con header p {
    color: var(--dark4);
}
.Active .con .cards {
    margin-top: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Active .con .cards .card {
    background: var(--middle4);
    margin: 4px 0;
}