.Login {
    max-width: 1200px;
    background: var(--middle1);
    margin: .5rem;
    padding: .5rem 4px 2rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.Login .head {
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}
.Login .head h2 {
    color: var(--white1);
}
.Login .head p {
    color: var(--light2);
    text-decoration: underline;
}

.Login .input {
    position: relative;
    max-width: 400px;
    margin-top: 1rem;
}
.Login .input input {
    width: 100%;
    font-size: 2rem;
    padding: .5rem 4px 4px;
    background: transparent;
    border: 2px solid var(--light4);
    border-radius: .5rem;
    text-align: center;
    color: var(--white1);
    font-family: var(--font3);
}
.Login .input label {
    position: absolute;
    font-size: 2rem;
    font-family: var(--font4);
    color: var(--white4);
    transition: .4s;
}
.Login .input input:focus + label,
.Login .input input:not(:placeholder-shown) + label {
    transform: translateY(-150%);
    font-size: 1.5rem;
}
.Login .input input:focus,
.Login .input input:not(:placeholder-shown) {
    border: 2px solid var(--light3);
}
.Login .input input.correct {
    border: 2px solid var(--light2);
}

.Login .btn,
.Login .error,
.Login .numbers {
    max-width: 400px;
    justify-content: space-between;
    margin: 4px 0 0;
}
.Login .btn button {
    width: 50%;
    margin: 0 4px;
    background: var(--light4);
    transition: .4s;
}
.Login .btn button:nth-child(1) {
    background: var(--dark5);
    color: var(--white1);
}
.Login .btn button:nth-child(1):hover {
    background: var(--dark4);
}
.Login .btn button:nth-child(2):hover {
    background: var(--light1);
    color: var(--white1);
}

.Login .error {
    justify-content: center;
    padding: .5rem;
    margin: .5rem 0 4px;
}
.Login .error p {
    color: var(--light3);
    text-decoration: underline;
    font-size: 20px;
}

.Login .numbers {
    display: none;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.Login .numbers .number {
    width: 32%;
    padding: .5rem;
    color: var(--white1);
    margin: 2px;
    cursor: pointer;
}
.Login .numbers .number.del {
    font-family: var(--font2);
    border-radius: .5rem;
}
.Login .numbers .number:hover {
    background: var(--dark5);
}

@media (max-width: 480px) {
    .Login .numbers {
        display: flex;
    }
}
@media (max-width: 340px) {
    .Login .numbers .number {
        width: 30%;
    }
    .Login .error p {
        font-size: 1rem;
    }
}