.List .background {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
}
.List .total {
    position: fixed;
    bottom: 0;
    align-items: flex-end;
    padding: 0 .5rem .5rem;
    z-index: 2;
}
.List .total .circle {
    display: none;
    width: 50px;
    height: 50px;
    margin: 1rem;
    cursor: pointer;
    background: var(--light4);
    color: var(--white4);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.List .total .circle.show {
    display: flex;
    animation: circle-animation  .6s ease 0s 1 normal;
}
@keyframes circle-animation {
    0%{ opacity: 0; transform: scale(.3); }
    50%{ opacity: 1; transform: scale(1.0); }
    70%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
    }
.List .total .box {
    display: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    background: var(--white4);
}
.List .total .box.show {
    display: flex;
}
.List .total .box .header {
    justify-content: space-between;
    padding: 1rem .5rem .5rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    background: var(--light4);
    margin-bottom: .5rem;
}
.List .total .box .header .manage {
    width: unset;
    padding: 4px .5rem;
    border-radius: .5rem;
    justify-content: flex-start;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--white4);
}
.List .total .box .header .manage #trash {
    margin-right: 4px;
}
.List .total .box .con {
    max-height: 400px;
    overflow: auto;
    top: 0;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}
.List .total .box .con::-webkit-scrollbar {
    display: none;
}
/* box-shadow: 0px 0px 5px 1px rgba(204,204,204,1); */


.List .total .box .con .category {
    width: 95%;
    padding: 1rem 4px 0;
    margin-bottom: .5rem;
    background: var(--white4);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.List .total .box .con .category .name {
    justify-content: space-between;
    padding: 4px .5rem;
    border-radius: .5rem;
    background: var(--light3);
    color: var(--white1);
    margin-bottom: .5rem;
}
.List .total .box .con .category .name h2 {
    font-size: 20px;
    font-family: var(--font2);
}
.List .total .box .con .category .item {
    background: var(--light4);
    margin-bottom: .5rem;
    border-radius: .5rem;
}
.List .total .box .con .category .item .text {
    justify-content: space-between;
    padding: 4px .5rem 4px;
    border-bottom: 2px solid var(--dark1);
    color: var(--white1);
}
.List .total .box .con .category .item .text h4 {
    font-family: var(--font2);
}
.List .total .box .con .category .item .text #trash {
    color: var(--dark1);
}
.List .total .box .con .category .item .volume {
    align-items: flex-start;
    padding-bottom: 4px;
}
.List .total .box .con .category .item .volume .info {
    justify-content: space-between;
    padding: 0 .5rem;
}
.List .total .box .con .category .item .volume p {
    font-family: var(--font3);
    color: var(--dark1);
}
.List .total .box .con .category .item .volume span {
    font-family: var(--font4);
    color: var(--light2);
}


.List .total .box .con .btn {
    width: 90%;
}
.List .total .box .con .btn button {
    width: 100%;
    margin: unset;
    background: var(--light2);
    color: var(--white1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}